<!-- profile.html -->
<h2>Информация о пользователе:</h2>
<p><strong>Имя пользователя:</strong> {{ user.username }}</p>
<p><strong>Email:</strong> {{ user.email }}</p>
<p><strong>Имя:</strong> {{ user.first_name }}</p>
<p><strong>Фамилия:</strong> {{ user.last_name }}</p>
<p><strong>Дата регистрации:</strong> {{ user.date_joined|date:"d.m.Y H:i" }}</p>
<p><strong>Последний вход:</strong> {{ user.last_login|date:"d.m.Y H:i" }}</p>

<h3>Статусы:</h3>
<p>Активен: 
  {% if user.is_active %}✅{% else %}❌{% endif %}
</p>
<p>Сотрудник: 
  {% if user.is_staff %}✅{% else %}❌{% endif %}
</p>
<p>Администратор: 
  {% if user.is_superuser %}✅{% else %}❌{% endif %}
</p>

<h2>Выход тут</h2>
              <form method="post" action="{% url 'logout' %}" style="display: inline;">
                  {% csrf_token %}
                  <button type="submit">Выйти</button>
              </form>