{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'hello/css/styles.css' %}">
    {% block title %}
        <h1 class="news-title">{{ article.title }}</h1>
    {% endblock %}
</head>
<body>
    <div class="container">
        {% include "includes/header.html" %}

        <div class="main-content">
            {% include "includes/sidebar_left.html" %}

            <main>
                {% block content %}
                {% block image %}<img src="{{ article.image.url }}" alt="{{ article.title }}">{% endblock %}
                {% block body %}
                    <span>{{ article.body|linebreaks }}</span>
                {% endblock %}
                {% endblock %}
            </main>

            {% include "includes/sidebar_right.html" %}
        </div>

        {% include "includes/footer.html" %}
    </div>
</body>
</html>